.ColorBox {
	position: relative;
	display: inline-block;
	width: 20%;
	height: 25%;
	margin: 0 auto -3.5px;
	cursor: pointer;
}

.SingleColorPalette .ColorBox {
	height: 50%;
}

.ColorBox.go-back {
	background-color: black;
}

.copy-button,
.back-button {
	font-size: 1rem;
	line-height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline-block;
	width: 100px;
	height: 30px;
	transition: all 0.3s ease;
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border: none;
	outline: none;
	background: rgba(255, 255, 255, 0.3);
	text-decoration: none;
}

.copy-button {
	opacity: 0;
}

.ColorBox:hover .copy-button {
	opacity: 1;
}

.box-content {
	font-size: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000;
}

.light-text {
	color: white;
}

.ColorBox .dark-text {
	color: rgba(0, 0, 0, 0.5);
}

.see-more {
	line-height: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 60px;
	height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border: none;
	background: rgba(255, 255, 255, 0.3);
}

.copy-overlay {
	z-index: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.6s ease;
	transform: scale(0.1);
	opacity: 0;
}

.copy-overlay.show {
	position: absolute;
	z-index: 10;
	transform: scale(50);
	opacity: 1;
}

.copy-msg {
	font-size: 4rem;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transform: scale(0.1);
	opacity: 0;
	color: #fff;
}

.copy-msg.show {
	z-index: 15;
	transition: all 0.3s ease-in-out;
	transition-delay: 0.3s;
	transform: scale(1);
	opacity: 1;
}

.copy-msg h1 {
	font-weight: 400;
	width: 100%;
	margin-bottom: 0;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0.2);
	text-shadow: 1px 2px #000;
}

.copy-msg p {
	font-size: 2rem;
	font-weight: 100;
}

@media (max-width: 990px) {
	.ColorBox {
		width: 50%;
	}

	.SingleColorPalette .ColorBox {
		height: 20%;
	}
}

@media (max-width: 500px) {
	.ColorBox {
		width: 100%;
		height: 5%;
	}

	.SingleColorPalette .ColorBox {
		height: 10%;
	}

	.copy-msg h1 {
		font-size: 5rem;
	}
}
