.Palette {
	height: 100vh;
}

.Palette-colors {
	height: 90%;
}

.Palette-footer {
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 5vh;
	background-color: #fff;
}

.emoji {
	font-size: 1.5rem;
	margin: 0 1rem;
}
